{{#each this}}
  <li class='gallery-item'>
    <div class='main-wrapper'>
      <div class='img-wrapper'>
        <img src='{{poster_path}}' class='js-card-img' alt='{{title}}' />
      </div>
      <div class='movie-stats'>
        <h4 class='movie-title'>{{name}}</h4>
        <p><span class='movie-genres'>{{genres_short_list}}</span></p>
        <p><span>|</span></p>
        <p class='movie-release-date'>{{first_air_date}}</p>
        <p class='votes'>{{average_votes}}</p>
      </div>
    </div>
  </li>
{{/each}}